{% extends 'loggedin.twig' %}

{% block content %}
<p>The following lists all unsolved puzzles, in order of how long ago their spreadsheet was opened (which may or may not reflect when someone last worked on the puzzle.</p>
<table>
    <thead>
    <tr>
        <th>Puzzle</th>
        <th>Last Modified</th>
        <th>Notes</th>
        <th>Status</th>
        <th>Link to Spreadsheet</th>
    </tr>
    </thead>

    <tbody>

    {% for puzzle in puzzles %}
        <tr class='{{ puzzle.STATUS }}'>
            <td><a href='{{ puzzle.PUZURL }}' target='_new'>{{ puzzle.INDPUZ }}</a></td>
            <td>{{ puzzle.FILEAGE }}</td>
            <td>{{ puzzle.PUZNTS }}</td>
            <td>{{ puzzle.STATUS }}</td>
            <td><a href='{{ puzzle.PUZSPR }}' target='_new'>Drive</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
