{% extends 'loggedin.twig' %}

{% block content %}

{% for puzzle in puzzles if puzzle.META %}
    <h1>{{ puzzle.PUZNME }} <small class="text-muted">meta</small></h1>
    {% if puzzle.PUZSTT == "solved" %}
    <div class="alert alert-success">
        {{ puzzle.PUZANS }}
    </div>
    {% endif %}

    <a name='puzurllink_{{ puzzle.PUZID }}' href='{{ puzzle.PURL }}'>Meta URL</a>
    <input size=40 name='puzurl_{{ puzzle.PUZID }}' value='{{ puzzle.PURL }}' onchange='new_link(this, {{ puzzle.PUZID }})' ><br>
    <a name='puzsprlink_{{ puzzle.PUZID }}' href='{{ puzzle.PUZSPR}}'>Google Doc</a>
    <input size=40 name='puzspr_{{ puzzle.PUZID }}' value='{{ puzzle.PUZSPR}}' onchange='new_sprd(this, {{ puzzle.PUZID }})' ><br>
    Notes
    <input size=40 name='puznts_{{ puzzle.PUZID }}' onchange='upd_notes(this, {{ puzzle.PUZID }})' value='{{ puzzle.PUZNOT }}' >
{% else %}
    <P>This does not appear to be a metapuzzle. There are no puzzles that are part of it.</P>
{% endfor %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Puzzle</th>
        <th>Answer</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for puzzle in puzzles if puzzle.META == 0 %}
        <tr class='{{ puzzle.PUZSTT }}'>
            <td><a href="/?puzzle={{ puzzle.PUZID }}">{{ puzzle.PUZNME }}</a></td>
            <td>{{ puzzle.PUZANS }}</td>

            <td>{% if puzzle.PURL %}<a href="{{ puzzle.PURL }}"><img src="/img/mit.png" width="20" alt=""></a>{% endif %}</td>
            <td><a href="{{ puzzle.PUZSPR }}"><img src="/img/drive.png" width="20" alt=""></a></td>
            <td><a href="http://palindrome2017.slack.com/messages/{{ puzzle.SLACK }}"><img src="/img/slack.png" width="20" alt=""></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p><a href='index.php?puzzle={{ meta_id }}'>View this metapuzzle as a regular puzzle</a></p>
{% endblock %}
