{% extends 'one-col.twig' %}

{% block title %}All puzzles{% endblock %}

{% block filters %}
<h4 class="nav-header">Filter by</h4>
<ul class="nav nav-pills flex-column" data-filter-list>
   <li class="nav-item">
        <a data-toggle="tab" data-filter-by-not="solved" class="nav-link" id="all-tab" href="#">Unsolved</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-filter-by="open" class="nav-link" id="open-tab" href="#"><i class="icon-open"></i> Open ({{ statusCounts.0.count|default(0) }})</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-filter-by="stuck" class="nav-link" id="stuck-tab" href="#"><i class="icon-stuck"></i> Stuck ({{ statusCounts.1.count|default(0) }})</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-filter-by="priority" class="nav-link" id="priority-tab" href="#"><i class="icon-priority"></i> Priority ({{ statusCounts.2.count|default(0) }})</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-filter-by="lowpriority" class="nav-link" id="lowpriority-tab" href="#"><i class="icon-lowpriority"></i> Low Priority ({{ statusCounts.3.count|default(0) }})</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" class="nav-link" id="all-tab" href="#">All</a>
    </li>
</ul>
<h4 class="nav-header">Sort by</h4>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="title" class="nav-link" id="title-tab" href="#">Title</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="stalest" class="nav-link" id="stalest-tab" href="#">Stalest</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="freshest" class="nav-link" id="freshest-tab" href="#">Freshest</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="newest" class="nav-link" id="freshest-tab" href="#">Newest</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="oldest" class="nav-link" id="freshest-tab" href="#">Oldest</a>
    </li>
</ul>
{% endblock %}

{% block main_top %}
<div class="col-12 col-md-10 ml-sm-auto pt-3">
    <h1>
        {{ unsolved_count }} unsolved
        <small class="text-muted">/ {{ total_puzzle_count }}</small>
    </h1>
    <div class="progress">
        {% for pos, statusCount in statusCounts %}
            <div class="progress-bar progress-{{ statusCount.status }}" role="progressbar" style="width: {{ statusCount.percentage }}%" ></div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table() }}
{% endblock %}

{% block scripts %}
<script>
function markMetas () {
    $.get('/puzzles/metas', {}, function(response) {
        $.each(response, function(key, meta) {
            $('#puzzle'+meta).addClass('meta');
        });
    });
}

$(function() {
    loadPuzzleData('/puzzles/all/SheetModDate/desc', function() {
        $('.nav li:first-child a').click();
        markMetas();
    });

    $('[data-sort-by=title]').click(function() {
        loadPuzzleData('/puzzles/all/Title/asc');
        markMetas();
    });

    $('[data-sort-by=stalest]').click(function() {
        loadPuzzleData('/puzzles/all/SheetModDate/asc');
        markMetas();
    });

    $('[data-sort-by=freshest]').click(function() {
        loadPuzzleData('/puzzles/all/SheetModDate/desc');
        markMetas();
    });

    $('[data-sort-by=oldest]').click(function() {
        loadPuzzleData('/puzzles/all/CreatedAt/asc');
        markMetas();
    });

    $('[data-sort-by=newest]').click(function() {
        loadPuzzleData('/puzzles/all/CreatedAt/desc');
        markMetas();
    });

});
</script>
{% endblock %}
