{% extends 'two-col.twig' %}

{% block bodyclass %}by-meta{% endblock %}

{% block filters %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <h4 class="nav-link">Jump to:</h4>
    </li>
    {% for meta in metas %}
    <li class="nav-item">
        <a class="nav-link" href="#meta-{{ meta.parent.id }}">{{ meta.parent.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
{% from 'macros.twig' import puzzle_table %}

<h1>All puzzles by meta</h1>

{% for meta, puzzles in all_puzzles_by_meta %}
<section class="pt-2">
    <span class="anchor-target" id="meta-{{ puzzles.0.id }}"></span>
    <h2>
        <a href="/puzzle/{{ puzzles.0.id }}">{{ meta }}</a>
        <a class="add-puzzles-to-meta float-right" href="/add/{{ puzzles.0.id }}">+ Add puzzles</a>
    </h2>
    {{ puzzle_table(puzzles) }}
</section>
{% endfor %}
{% endblock %}
