{% extends 'two-col.twig' %}

{% block content %}
<h1>All puzzles</h1>

{% from 'macros.twig' import puzzle_table %}

{% for meta, puzzles in all_puzzles_by_meta %}
<h2>
    <a href="/meta/{{ puzzles.0.id }}">{{ meta }}</a>
    <small>
        <a class="" href="/add/{{ puzzles.0.id }}">+ Add puzzle(s) to this meta</a>
    </small>
</h2>
{{ puzzle_table(puzzles) }}
{% endfor %}

<p>
    <strong>Instructions:</strong>
    <div id='instructions'>
        <b>!!!</b> = the puzzle is the feature puzzle. Only one puzzle can be the featured puzzle.<br/>
    </div>
</p>
{% endblock %}

{% block aside %}
    <div class="mb-3">
        <h4>{{ total_puzzles }} total</h4>
        <ul class="list-unstyled">
        {% for status in statusCounts %}
            <li>{{ status.Status | emojify }} {{ status.StatusCount }}</li>
        {% endfor %}
        </ul>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <small class="solvers">You are logged in as</small>
            <strong>{{ user.fullName }}</strong><br>

            {% if user.slackId %}
                <img src="/img/slack.png" width="15px" alt=""> {{ user.slackId }}<br>
            {% endif %}
            {% for user_puzzle in user_puzzles %}
                <a href="/puzzle/{{ user_puzzle.id }}">{{ user_puzzle.title }}</a><br>
            {% endfor %}
        </div>
        <div class="card-footer">
            <a href="/member/{{ user.id }}/edit">Edit your profile</a>
        </div>
    </div>
{% endblock %}
