{% extends 'loggedin.twig' %}

{% block content %}
<h1>All puzzles</h1>

{% from 'macros.twig' import puzzle_table %}

{% for meta, puzzles in all_puzzles_by_meta %}
<h2><a href="/meta/{{ puzzles.0.id }}">{{ meta }}</a></h2>
{{ puzzle_table(puzzles) }}
{% endfor %}

<p><strong>Instructions:</strong> <span class='fake_button' id='instruction_status' onclick='toggle_instructions();'>show</span>
<div id='instructions'>
    <b>!!!</b> = the puzzle is the feature puzzle. Only one puzzle can be the featured puzzle.<br/>
</div>
{% endblock %}

{% block aside %}
    <h4>{{ total_puzzles }} total</h4>
    <ul class="list-unstyled">
    {% for status in statuses %}
        <li>{{ status.Status | emojify }} {{ status.StatusCount }}</li>
    {% endfor %}
    </ul>
    <hr>
{% endblock %}
