{% extends 'loggedin.twig' %}

{% block content %}
<h1>All puzzles</h1>

{% from 'macros.twig' import puzzle_table %}

{% for meta, puzzles in all_puzzles_by_meta %}
<h2><a href="/meta/{{ puzzles.0.PUZID }}">{{ meta }}</a></h2>
{{ puzzle_table(puzzles) }}
{% endfor %}

<p><strong>Instructions:</strong> <span class='fake_button' id='instruction_status' onclick='toggle_instructions();'>show</span>
<div id='instructions'>
    Click an answer to change it.<br/>
    Use the following codes to change the status of a puzzle: <br/>
    <b>.</b> = the puzzle is open<br/>
    <b>?</b> = the puzzle is stuck<br/>
    <b>!</b> = the puzzle is a priority<br/>
    <b>!!!</b> = the puzzle is the feature puzzle. Only one puzzle can be the featured puzzle.<br/>
    <br/>
    To nest one metapuzzle inside a metapuzzle: Click info for the metapuzzle. Click view as puzzle. Check off the meta to nest it under.
</div>
{% endblock %}

{% block aside %}
    <h4>{{ total_puzzles }} total</h4>
    <ul class="list-unstyled">
    {% for status in statuses %}
        <li>{{ status.Status | emojify }} {{ status.StatusCount }}</li>
    {% endfor %}
    </ul>
    <hr>
{% endblock %}
