{% extends 'two-col.twig' %}

{% block filters %}
<h4 class="nav-link">Filter by</h4>
<ul class="nav nav-pills flex-column" data-filter-list>
   <li class="nav-item">
        <a data-toggle="tab" data-filter-by-not="solved" class="nav-link" id="all-tab" href="#">Unsolved</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-filter-by="open" class="nav-link" id="urgent-tab" href="#">Open ({{ statusCounts.open.count|default(0) }}) {{ 'open'|emojify }}</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-filter-by="stuck" class="nav-link" id="stuck-tab" href="#">Stuck ({{ statusCounts.stuck.count|default(0) }}) {{ 'stuck'|emojify }}</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-filter-by="priority" class="nav-link" id="priority-tab" href="#">Priority ({{ statusCounts.priority.count|default(0) }}) {{ 'priority'|emojify }}</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-filter-by="urgent" class="nav-link" id="urgent-tab" href="#">Urgent ({{ statusCounts.urgent.count|default(0) }}) {{ 'urgent'|emojify }}</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" class="nav-link" id="all-tab" href="#">All</a>
    </li>
</ul>
<h4 class="nav-link">Sort by</h4>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="title" class="nav-link" id="title-tab" href="#">Title</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="stalest" class="nav-link" id="stalest-tab" href="#">Stalest</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="freshest" class="nav-link" id="freshest-tab" href="#">Freshest</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="newest" class="nav-link" id="freshest-tab" href="#">Newest</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" data-sort-by="oldest" class="nav-link" id="freshest-tab" href="#">Oldest</a>
    </li>
</ul>
{% endblock %}

{% block main_top %}
<div class="col-12 col-md-10 ml-sm-auto pt-3">
    <h1>
        {{ unsolved_count }} unsolved
        <small class="text-muted">/ {{ total_puzzle_count }}</small>
    </h1>

    <div class="progress">
        {% for status, statusCount in statusCounts %}
            <div class="progress-bar progress-{{ status }}" role="progressbar" style="width: {{ statusCount.percentage }}%" ></div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table() }}
{% endblock %}

{% block aside_bottom %}
    <div class="card mb-3">
        <div class="card-body">
            <small class="solvers">You are logged in as</small>
            <strong>{{ user.fullName }}</strong><br>

            {% if user.slackId %}
                <img src="/img/slack.png" width="15px" alt=""> {{ user.slackId }}<br>
            {% endif %}
            {% for user_puzzle in user_puzzles %}
                <a href="/puzzle/{{ user_puzzle.id }}">{{ user_puzzle.title }}</a><br>
            {% endfor %}
        </div>
        <div class="card-footer">
            <a href="/member/{{ user.id }}/edit">Edit your profile</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    loadPuzzleData('/puzzles/all', function() {
        $('.nav li:first-child a').click();
    });

    var sortByDate = function(a, b, field) {
        var aDate = $(a).data(field);
        var bDate = $(b).data(field);
        console.log(aDate);
        if (aDate < bDate) {
            return -1;
        } else if (bDate > aDate) {
            return 1;
        }
        return 0;
    };

    var sortByTitle = function(a, b, field) {
        var aTitle = $(a).find('.title a').html();
        var bTitle = $(b).find('.title a').html();
        if (aTitle < bTitle) {
            return -1;
        }

        // no need for 0 b/c no two titles can be equal;
        return 1;
    };

    $('[data-sort-by=title]').click(function(){
        $('tbody tr').sort(function(a, b) {
        }).appendTo($('tbody'));
    });

    $('[data-sort-by=stalest]').click(function(){
        $('tbody tr').sort(function(a, b) {
            return -1 * sortByDate(a, b, 'staleness');
        }).appendTo($('tbody'));
    });

    $('[data-sort-by=freshest]').click(function(){
        $('tbody tr').sort(function(a, b) {
            return sortByDate(a, b, 'staleness');
        }).appendTo($('tbody'));
    });

    $('[data-sort-by=oldest]').click(function(){
        $('tbody tr').sort(function(a, b) {
            return -1 * sortByDate(a, b, 'age');
        }).appendTo($('tbody'));
    });

    $('[data-sort-by=newest]').click(function(){
        $('tbody tr').sort(function(a, b) {
            return sortByDate(a, b, 'age');
        }).appendTo($('tbody'));
    });

});
</script>
{% endblock %}
