{% extends 'two-col.twig' %}

{% block filters %}
<h4 class="nav-header">Jump to</h4>
<ul class="nav nav-pills flex-column">
    {% for meta in metas %}
    <li class="nav-item">
        <a class="nav-link" href="#meta-{{ meta.parent.id }}">{{ meta.parent.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
{% from 'macros.twig' import puzzle_table %}

{% for meta in metas %}
<section class="puzzle-section">
    <span class="anchor-target" id="meta-{{ meta.parentid }}"></span>
    <h2>
        <a href="/puzzle/{{ meta.parent.id }}">{{ meta.parent.title }}</a>
    </h2>
    <div class="puzzle-metadata row">
        <div class="col col-sm-6 wrangler">
            Wrangler: <a href="/member/{{ meta.parent.wrangler.Id }}">{{ meta.parent.wrangler.fullName }}</a>
        </div>
        <div class="col col-sm-6 add-puzzles-to-meta">
            <a class="add-puzzles-to-meta" href="/add/{{ meta.parent.id }}">+ Add puzzles</a>
        </div>
    </div>
    {{ puzzle_table(meta.parent.id) }}
</section>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
$(function() {
    loadPuzzleData('/puzzles/bymeta');
});
</script>
{% endblock %}
