{% extends 'two-col.twig' %}

{% block filters %}
<h4 class="nav-header">Jump to</h4>
<ul class="nav nav-pills flex-column">
    {% for meta in metas %}
    <li class="nav-item">
        <a class="nav-link" href="#meta-{{ meta.Id }}">{{ meta.Title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<a href="#" class="copy-solutions">Copy</a>
{% from 'macros.twig' import puzzle_table %}
{% for meta in metas %}
<section class="puzzle-section">
    <span class="anchor-target" id="meta-{{ meta.Id }}"></span>
    <h2>
        {% if meta.Id %}
            <a href="/puzzle/{{ meta.Id }}">{{ meta.Title }}</a>
        {% else %}
            {{ meta.Title }}
        {% endif %}
    </h2>
    <div class="puzzle-metadata row">
        <div class="col col-sm-6 wrangler">
            {% if meta.Wrangler %}
            Wrangler: <a href="/member/{{ meta.WranglerId }}">{{ meta.Wrangler }}</a>
            {% else %}
            <i>No assigned wrangler</i>
            {% endif %}
        </div>
        <div class="col col-sm-6 add-puzzles-to-meta">
            <a class="add-puzzles-to-meta" href="/add/{{ meta.Id }}">+ Add puzzles</a>
        </div>
    </div>
    {{ puzzle_table(meta.Id) }}
</section>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
$(function() {
    loadPuzzleData('/puzzles/bymeta');
});
</script>
{% endblock %}
