{% extends 'two-col.twig' %}

{% block filters %}
<h4 class="nav-link">Jump to</h4>
<ul class="nav nav-pills flex-column">
    {% for meta in metas %}
    <li class="nav-item">
        <a class="nav-link" href="#meta-{{ meta.parent.id }}">{{ meta.parent.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
{% from 'macros.twig' import puzzle_table %}

<div id="target"></div>

<h1>All puzzles by meta</h1>

{% for meta, puzzles in all_puzzles_by_meta %}
<section class="pt-2">
    <span class="anchor-target" id="meta-{{ puzzles.0.id }}"></span>
    <h2>
        <a href="/puzzle/{{ puzzles.0.id }}">{{ meta }}</a>
        <a class="add-puzzles-to-meta float-right" href="/add/{{ puzzles.0.id }}">+ Add puzzles</a>
    </h2>
    {{ puzzle_table(puzzles) }}
</section>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
$(function() {
    loadTemplate('puzzle_list', [{
        title: "Luke",
        url: "foo",
        status: "open",
        solution: "BOB"
    }]);
});
</script>
{% endblock %}
