{% extends 'base.twig' %}

{% block navbar %}
<a class="navbar-brand" href="/">{{ team_name }}</a>
<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/?loose">Loose</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/?unsolved">Unsolved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Your puzzles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/?news&filter=Y">News</a>
    </li>
  </ul>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Links
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item" href="http://palindrome2018.slack.com/messages/general">Slack</a>
        <a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/0B5NGrtZ8ORMreUJoSlV2NjFPYVk">Google Drive</a>
        <a class="dropdown-item" href='https://plus.google.com/hangouts/_/7lw6rz5zwbkiaozrwld6q77ahaa?authuser=0&hl=en'>Hangout 1</a>
        <a class="dropdown-item" href='https://plus.google.com/hangouts/_/ha2iwh7ioc4ctfnehufqfvomzya?authuser=0&hl=en'>Hangout 2</a>
        <a class="dropdown-item" href="https://monsters-et-manus.com/">The Hunt</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add…
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item" href="/?new">Puzzle(s)</a>
        <a class="dropdown-item" href="">Meta</a>
      </div>
    </li>
  </ul>
</div>
{% endblock %}

{% block body %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        {% for meta in metas %}
        <li class="nav-item">
          <a class="nav-link" href="/?meta={{ meta.MID }}">{{ meta.MTTL }}</a>
        </li>
        {% endfor %}
    </ul>

    <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"></a>
    </li>
    <li class="nav-item">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"></a>
    </li>
    </ul>
</nav>

<main role="main" class="col-12 ml-sm-auto col-md-8 col-lg-7 pt-3">

{% block content %}{% endblock %}

<input type='hidden' id='userid' value='{{ user_id }}'>

<div id='show_notes' onclick='hide_notes()'></div>
</main>

<aside class="col-md-2 col-lg-3 d-none d-md-block pt-3 pl-3 mt-3">
    {% block aside %}{% endblock %}

    <h4>Latest news</h4>
    <p>
    {{ news }} ({{ news_from }})
    {# <input id='UrgentMessage' name='UrgentMessage' value='{{ news }} ({{ news_from }})' onchange='add_update(this, "URG", "{{ user_id }}");'> #}
    </p>

    <hr>
    <small>
    HQ: 4-159, 4-146, 4-145<br>
    Phone: 617 715-4577<br>
    <a href="mailto:team-palindrome@mit.edu">team-palindrome@mit.edu</a><br>
    palindrome/aplanacanal<br>
    </small>
    <small>
        <br>{{ time }}
        {# Page will reload every 180 seconds automatically. #}
    </small>

    <P>{{ error }}</p>

</aside>

{% endblock %}
