{% extends 'loggedin.twig' %}

{% block content %}

<h1>Loose puzzles</h1>

<p>Puzzles not attached to a meta.</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Puzzle</th>
        <th>Answer</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for puzzle in puzzles %}
        <tr class='{{ puzzle.PUZSTT }}'>
            <td><a href="/?puzzle={{ puzzle.PUZID }}">{{ puzzle.PUZNME }}</a></td>
            <td>{{ puzzle.PUZANS }}</td>

            <td>{% if puzzle.PURL %}<a href="{{ puzzle.PURL }}"><img src="/img/mit.png" width="20" alt=""></a>{% endif %}</td>
            <td><a href="{{ puzzle.PUZSPR }}"><img src="/img/drive.png" width="20" alt=""></a></td>
            <td><a href="http://palindrome2017.slack.com/messages/{{ puzzle.SLACK }}"><img src="/img/slack.png" width="20" alt=""></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
