{% macro puzzle_table(id = 0) %}
<table id="table-{{ id }}" class="table puzzle-list">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Solution</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endmacro puzzle_table %}

{% macro member_table(id = 0, title = "Not active") %}
<section class="pt-2">
    <span class="anchor-target" id="puzzle-{{ id }}"></span>
    <h2>
        {% if id != 0 %}
            <a href="/puzzle/{{ id }}">{{ title }}</a>
        {% else %}
            {{ title }}
        {% endif %}
    </h2>
    <table id="table-{{ id }}" class="table" data-title="{{ title }}">
        <tbody>
        </tbody>
    </table>
</section>
{% endmacro member_table %}
