{% macro puzzle_table(id = 0) %}
<table id="table-{{ id }}" class="table puzzle-list">
    <thead>
        <tr>
            <th></th>
            <th>Puzzle</th>
            <th>Solution <a href="#" class="copy-solutions" title="Copy solutions" data-tooltip><i class="icon-copy"></i></a></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endmacro puzzle_table %}

{% macro member_table(id = 0, title = "Not active", status) %}
<section class="pt-2">
    <span class="anchor-target" id="puzzle-{{ id }}"></span>
    <h2>
        {% if id != 0 %}
            <a href="/puzzle/{{ id }}">{{ title }}</a>
        {% else %}
            {{ title }}
        {% endif %}
        <i class="icon-{{ status }}"></i>
    </h2>
    <table id="table-{{ id }}" class="table member-table" data-title="{{ title }}">
        <tbody>
        </tbody>
    </table>
</section>
{% endmacro member_table %}

{% macro avatar(member) %}
<a href="/member/{{ member.id }}" class="solver" style="background-image:url({{ member.avatar }});">
    <span class="solver-name">{{ member.fullName }}</span>
    <i class="location icon-{{ member.location }}"></i>
</a>
{% endmacro %}
