{% macro puzzle_table(puzzles, sol=true, lastmod=false) %}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            {% if sol %}
                <th>Solution</th>
            {% endif %}
            {% if lastmod %}
                <th>Last mod</th>
                <th>By</th>
            {% endif %}
            <th>Notes</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for puzzle in puzzles %}
        <tr class="puzzle{{ puzzle.PUZID }}" class="puzzle {{ puzzle.STATUS }} {% if puzzle.META == 1 %}meta{% endif %}">
            <td>{{ puzzle.STATUS | emojify }}</td>
            <td><a href="/?puzzle={{ puzzle.PUZID }}">{{ puzzle.PUZZLE_NAME }}</a></td>
            {% if sol %}
                <td>
                    {{ puzzle. PUZANS }}
                    <!--input
                    name='puzans_"{{ puzzle.PUZID }}' value='{{ puzzle.PUZANS }}'
                    class='{{ puzzle. STATUS }}'
                    style='border-width:0px; text-align: center;'
                    onchange='editAnswer(this, "{{ puzzle. PUZID }}", "{{ puzzle. PUZANS }}", {{ user_id }}, "{{ puzzle.PUZZLE_NAME }}")'
                    -->
                </td>
            {% endif %}
            {% if lastmod %}
                <td>{{ puzzle.lastMod }}</td>
                <td>{{ puzzle.lastModBy }}</td>
            {% endif %}

            <td>{{ puzzle.PUZNTS }}</td>
            <td>{% if puzzle.PUZURL %}<a href="{{ puzzle.PUZURL }}"><img src="/img/mit.png" width="20" alt=""></a>{% endif %}</td>
            <td><a href="{{ puzzle.PUZSPR }}"><img src="/img/drive.png" width="20" alt=""></a></td>
            <td><a href="http://palindrome2017.slack.com/messages/{{ puzzle.SLACK }}"><img src="/img/slack.png" width="20" alt=""></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
