{% macro puzzle_table(id = 0) %}
<table id="table-{{ id }}" class="table puzzle-list">
    <thead>
        <tr>
            <th></th>
            <th class="icon-th"><i class="icon-solvers"></i></th>
            <th>Puzzle</th>
            <th class="solution-cell">Solution <a href="#" class="copy-solutions" title="Copy solutions" data-tooltip><i class="icon-copy"></i></a></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endmacro puzzle_table %}

{% macro member_table(id = 0, title = "Not active", status) %}
<section class="pt-2">
    <span class="anchor-target" id="puzzle-{{ id }}"></span>
    <h2>
        {% if id != 0 %}
            <a href="/puzzle/{{ id }}">{{ title }}</a>
        {% else %}
            {{ title }}
        {% endif %}
        <i class="icon-{{ status }}"></i>
    </h2>
    <table id="table-{{ id }}" class="table member-table" data-title="{{ title }}">
        <tbody>
        </tbody>
    </table>
</section>
{% endmacro member_table %}

{% macro solver(member) %}
<a href="/member/{{ member.id }}" class="solver member.location" style="background-image:url({{ member.avatar }});">
    <span class="solver-name">{{ member.fullName }}</span>
</a>
{% endmacro %}

{% macro news_entry(update) %}
<div class="row news-row" data-filter="{{ update.getNewsFilter() }}">
    <div class="col-sm-3">
        <small class="entry-by">{{ update.member.fullName|default("TobyBot") }}</small>
        <small class="entry-when">
            {% set difference = date(now).diff(date(update.createdAt)) %}
            {% if difference.days >= 2 %}
                {{ difference.days }} days ago
            {% else %}
                {{ difference.format('%H:%I') }} ago
            {% endif %}
        </small>
    </div>
    <div class="col-sm-1">
        <i class="icon-{{ update.newsType }}"></i>
    </div>
    <div class="col-sm-8 entry-body">
        {% if update.puzzle %}
            <a href="/puzzle/{{ update.puzzle.id }}">{{ update.puzzle.title }}</a><br>
        {% endif %}
        {{ update.content|markdown }}
        <form action="/news/{{ update.id }}/delete" class="delete-entry" method="post">
            <button type="submit" class="close">
                <span>&times;</span>
            </button>
        </form>
    </div>
</div>

{% endmacro %}
