{% extends 'two-col.twig' %}

{% block filters %}
    {% from 'macros.twig' import avatar %}
    {% if member.avatar %}
    {{ avatar(member, 'lg', false) }}
    {% endif %}
{% endblock %}

{% block content %}

{% if is_user and not user.slackId %}
<div class="jumbotron bg-warning">
    <h1 class="display-3">Hi, please connect to Slack</h1>
    <p class="lead">In order to tag you in the messages this this app posts to Slack, we need to know who you are.</p>
    <ol class="lead">
        <li>Go to our <a href="http://{{ slackDomain }}.slack.com/messages/">Slack</a> and type <code>/connect</code>. </li>
        <li>You'll get a private link in response. </li>
        <li>Tap it, which will send you back here and auto-register you.</li>
    </ol>
    <p class="lead">That's it! Thanks.</p>
</div>
{% endif %}

<h1>{{ member.fullName }}</h1>

<p>
    {% if member.strengths %}
        {{ member.strengths }}<br>
    {% endif %}

    {% if member.phoneNumber %}
        {{ member.phoneNumber }}<br>
    {% endif %}

    {% if member.location %}
        <i class="icon-{{ member.location }}"></i>
        {{ member.location|capitalize }}<br>
    {% endif %}

    {% if is_user and member.slackId %}
        <a href="{{ member.getSlackURL }}"><img src="/img/slack.png" width="15px" alt=""> {{ member.slackId }}</a>
    {% endif %}
</p>

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table() }}

{% if is_user %}
{% for scope_name, scope_tags in scopes %}
<div class="scope-header"><i class="icon-tags"></i> {{ scope_name }}</div>
<div class="tag-list">
    {% for tag in scope_tags if tag.level > 0 %}
        <div data-channel="{{ tag.slackChannelId }}" class="tag level{{ tag.level }} {% if tag.slackChannelId in member_channels %}member{% endif %}">
            {{ tag.title }}
            <a class="member-link" href="http://{{ slackDomain }}.slack.com/messages/{{ tag.slackChannelId }}"><img src="/img/slack.png" width="12px" alt=""> Member</a>
            <a class="join-link" href="#"><img src="/img/slack.png" width="12px" alt=""> Join</a>
        </div>
    {% endfor %}
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block aside %}
{% if is_user %}
<div class="mb-3">
    <a class="btn btn-light border border-dark" href="/member/edit"><i class="icon-edit"></i> Edit your profile</a>
</div>
{% endif %}
{% endblock %}

{% block latest_news %}{% endblock %}

{% block scripts %}
<script>
$(function() {
    $('.join-link').click(function(e) {
        e.preventDefault();
        var tag = $(this).closest('.tag');
        var data = {
            'channel': tag.data('channel')
        };
        $.post('/tags/invite', data, function(response) {
            if (response['ok'] == 1) {
                tag.addClass('member');
            }
        });
    });

    loadPuzzleData('/puzzles/member/{{ member.id }}');
});
</script>
{% endblock %}
