{% extends 'two-col.twig' %}

{% block content %}

{% if not member.slackId %}
<div class="jumbotron bg-warning">
    <h1 class="display-3">Hi, please connect to Slack</h1>
    <p class="lead">In order to tag you in the messages this this app posts to Slack, we need to know who you are.</p>
    <ol class="lead">
        <li>Go to our <a href="http://{{ slackDomain }}.slack.com/messages/">Slack</a> and type <code>/connect</code>. </li>
        <li>You'll get a private link in response. </li>
        <li>Tap it, which will send you back here and auto-register you.</li>
    </ol>
    <p class="lead">That's it! Thanks.</p>
</div>
{% endif %}

<h1>Puzzles you're working on</h1>

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table() }}
{% endblock %}

{% block aside %}
<div class="card mb-3">
    <div class="card-body">
        <small class="solvers">You are logged in as</small>
        <strong>{{ member.fullName }}</strong><br>
        {{ member.strengths|default("(No strengths listed) 😿") }}<br>
        {% if member.slackId %}
            <img src="/img/slack.png" width="15px" alt=""> {{ member.slackId }}
        {% endif %}
    </div>
    <div class="card-footer">
        <a href="/member/{{ member.id }}/edit">Edit your profile</a>
    </div>
</div>
{% endblock %}

{% block aside_bottom %}
<div class="mb-3">
    <form action="/logout" method="get">
        <button type="submit" class="btn border border-dark text-dark" href="">✌ &nbsp; Log out of BB</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    loadPuzzleData('/puzzles/member');
});
</script>
{% endblock %}
