{% extends 'two-col.twig' %}

{% block content %}

<h1>Puzzles you're working on</h1>

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table(puzzles) }}
{% endblock %}

{% block aside %}
<div class="card mb-3">
    <div class="card-body">
        <small class="solvers">You are logged in as</small>
        <strong>{{ member.fullName }}</strong><br>
        {{ member.strengths|default("(No strengths listed) 😿") }}<br>
        {% if member.slackId %}
            <img src="/img/slack.png" width="15px" alt=""> {{ member.slackId }}
        {% endif %}
    </div>
    <div class="card-footer">
        <a href="/member/{{ member.id }}/edit">Edit your profile</a>
    </div>
</div>
{% endblock %}
