{% extends 'two-col.twig' %}

{% block content %}

{% if is_user and not user.slackId %}
<div class="jumbotron bg-warning">
    <h1 class="display-3">Hi, please connect to Slack</h1>
    <p class="lead">In order to tag you in the messages this this app posts to Slack, we need to know who you are.</p>
    <ol class="lead">
        <li>Go to our <a href="http://{{ slackDomain }}.slack.com/messages/">Slack</a> and type <code>/connect</code>. </li>
        <li>You'll get a private link in response. </li>
        <li>Tap it, which will send you back here and auto-register you.</li>
    </ol>
    <p class="lead">That's it! Thanks.</p>
</div>
{% endif %}

<h1>{{ member.fullName }}</h1>

<img src="{{ member.avatar }}" alt="" width="96">

<p>
    {% if member.strengths %}
        {{ member.strengths }}<br>
    {% endif %}

    {% if is_user and member.slackId %}
        <img src="/img/slack.png" width="15px" alt=""> {{ member.slackId }}
    {% endif %}
</p>

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table() }}
{% endblock %}

{% block aside %}
<div class="mb-3">
    <a class="btn btn-dark border border-dark" href="/member/edit">✏️  &nbsp; Edit your profile</a>
</div>
{% endblock %}

{% block aside_footer %}
<div class="mb-3">
    <form action="/logout" method="get">
        <button type="submit" class="btn border border-dark text-dark" href="">✌ &nbsp; Log out of BB</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    loadPuzzleData('/puzzles/member/{{ member.id }}');
});
</script>
{% endblock %}
