{% extends 'loggedin.twig' %}

{% block content %}

<h1>{{ meta.title }} <small class="text-muted">meta</small></h1>
{% if meta.status == "solved" %}
<div class="alert alert-success">
    {{ meta.solution }}
</div>
{% endif %}

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table(puzzles) }}

{% endblock %}

{% block aside %}
<p>
    <a id='puzurllink_{{ meta.id }}' href='{{ meta.url }}'>Meta URL</a><br>
    {# <input size=40 name='puzurl_{{ meta.id }}' value='{{ meta.url }}' onchange='new_link(this, {{ meta.id }})' ><br> #}
    <a id='puzsprlink_{{ meta.id }}' href='{{ meta.spreadsheet_id }}'>Google Doc</a><br>
    {# <input size=40 name='puzspr_{{ meta.id }}' value='{{ meta.spreadsheet_id }}' onchange='new_sprd(this, {{ meta.id }})' ><br> #}
</p>
<h4>Notes</h4>
<p>
{{ meta.PUZNTS }}
</p>
{# <input size=40 name='puznts_{{ meta.PUZID }}' onchange='upd_notes(this, {{ meta.PUZID }})' value='{{ meta.PUZNOT }}' > #}

<hr>
<p><a href='index.php?puzzle={{ meta.id }}'>View this metapuzzle as a regular puzzle</a></p>
{% endblock %}
