{% extends 'two-col.twig' %}

{% block content %}
<h1>Latest news</h1>

{% for update in updates %}
<div class="row news-row">
    <div class="col-sm-3">
        <small class="entry-by">{{ update.member.fullName }}</small>
        <small class="entry-when">
            {% set difference = date(now).diff(date(update.createdAt)) %}
            {% if difference.days >= 2 %}
                {{ difference.days }} days
            {% else %}
                {{ difference.format('%H:%I') }} ago
            {% endif %}
        </small>
    </div>
    <div class="col-sm-1">
        {{ update.newsType|emojify }}
    </div>
    <div class="col-sm-8 entry-body">
        {% if update.puzzle %}
            <a href="/puzzle/{{ update.puzzle.id }}">{{ update.puzzle.title }}</a><br>
        {% endif %}
        {{ update.content|markdown }}
        <form action="/news/{{ update.id }}/delete" class="delete-entry" method="post">
            <button type="submit" class="close">
                <span>&times;</span>
            </button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block aside %}
<h4>Add an update</h4>
<form class="new-update-form mb-5" action="/news/add" method="post">
    <textarea type="text" class="form-control mb-2" name="body" rows="4"></textarea>
    <button class="btn btn-primary" type="submit">Submit news update</button>
</form>

<h4>Show</h4>
<p>
    {% if filter == "Y" %}
        <a href='/news'>all updates</a>
    {% else %}
        <a href='/news?filter=Y'>just important updates</a>
    {% endif %}
</p>
{% endblock %}

{% block latest_news %}{% endblock %}
