{% extends 'two-col.twig' %}

{% block content %}
<h1>Latest news</h1>

<ul class="nav nav-tabs news-nav">
  <li class="nav-item">
    <a class="nav-link all {% if filter == "all" %}active{% endif %}" href="/news">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link important {% if filter == "important" %}active{% endif %}" href="/news/important">Important</a>
  </li>
  <li class="nav-item">
    <a class="nav-link puzzles {% if filter == "puzzles" %}active{% endif %}" href="/news/puzzles">Puzzles</a>
  </li>
</ul>

<div class="news-list">
{% for update in updates %}
<div class="row news-row {{ update.newsType }}">
    <div class="col-sm-3">
        <small class="entry-by">{{ update.member.fullName|default("Big Board Bot") }}</small>
        <small class="entry-when">
            {% set difference = date(now).diff(date(update.createdAt)) %}
            {% if difference.days >= 2 %}
                {{ difference.days }} days
            {% else %}
                {{ difference.format('%H:%I') }} ago
            {% endif %}
        </small>
    </div>
    <div class="col-sm-1">
        {{ update.newsType|emojify }}
    </div>
    <div class="col-sm-8 entry-body">
        {% if update.puzzle %}
            <a href="/puzzle/{{ update.puzzle.id }}">{{ update.puzzle.title }}</a><br>
        {% endif %}
        {{ update.content|markdown }}
        <form action="/news/{{ update.id }}/delete" class="delete-entry" method="post">
            <button type="submit" class="close">
                <span>&times;</span>
            </button>
        </form>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block aside %}
<h4>Add an update</h4>
<form class="new-update-form mb-4" action="/news/add" method="post">
    <textarea type="text" class="form-control mb-2" name="body" rows="4"></textarea>
    <button class="btn btn-primary" type="submit">Post important update</button>
</form>
{% endblock %}

{% block latest_news %}{% endblock %}
