{% extends 'loggedin.twig' %}
{% from 'macros.twig' import slack_url %}

{% block content %}
    <h1>
        <a href="/puzzle/{{ puzzle.id }}">{{ puzzle.title }}</a>
        {{ puzzle.status | emojify }}
        {% block h1_small %}{% endblock %}
    </h1>

    <h6>
        {% for meta in all_metas if meta.virtualColumns.IsInMeta > 0 %}
            <a class="badge badge-pill badge-primary" href='/meta/{{ meta.parent.id }}'>{{ meta.parent.title }}</a>
        {% endfor %}
    </h6>

    <hr>

    {% block content_main %}

        {% if puzzle.status == "featured" %}
            <div class="alert alert-info">This puzzle is the Featured Puzzle</div>
        {% endif %}

    {% endblock %}

    {% block content_notes %}
        {% if notes|length %}
            <h2>Notes</h2>

            <div class="row">
                {% for note in notes %}
                    <div class="col-sm-3">
                        {{ note.author.fullName }}<br>
                        <small>{{ note.createdAt|date("D g:i A") }}</small>
                    </div>
                    <div class="col-sm-9"><div class="border rounded p-3 mb-3">{{ note.body }}</div></div>
                {% endfor %}

                <div class="col-12">
                    <hr>
                </div>
            </div>
        {% endif %}
            <div class="row">

                <div class="col-sm-3">
                    Add a note
                </div>
                <div class="col-sm-9">
                    <form action="/puzzle/{{ puzzle.id }}/add-note" method="post">
                        <textarea type="text" class="form-control" name="body" rows="4"></textarea>
                        <br>
                        <button class="btn btn-primary" type="submit">Submit new note</button>
                    </form>
                </div>
            </div>
    {% endblock %}
{% endblock %}

{% block aside %}
    {% if puzzle.status == "solved" %}
        <div class="alert alert-success">
            {{ puzzle.solution }}
        </div>
    {% endif %}

    <div class="list-group mb-3">
        <a class="list-group-item list-group-item-action" href='{{ puzzle.url }}'><img src="/img/mit.png" width="15px" alt=""> Puzzle page ➡</a>
        <a class="list-group-item list-group-item-action" href='{{ puzzle.spreadsheetId }}'><img src="/img/drive.png" width="15px" alt=""> Google Sheet ➡</a>
        <a class="list-group-item list-group-item-action" href='{{ slack_url(puzzle.slackChannel) }}'><img src="/img/slack.png" width="15px" alt=""> Slack ➡</a>
        <a class="list-group-item list-group-item-action list-group-item-primary" href="/puzzle/{{ puzzle.id }}/edit">Edit this puzzle</a>
    </div>

{% endblock %}
