{% extends 'loggedin.twig' %}

{% block content %}

<h1>
    {{ puzzle.title }}
    <span class="badge badge-pill badge-secondary">{{ puzzle.status | emojify }} {{ puzzle.status }}</span>
</h1>

{% if puzzle.status == "featured" %}
    <div class="alert alert-info">This puzzle is the Featured Puzzle</div>
{% endif %}

{% if puzzle.status == "solved" %}
    <div class="alert alert-success">
        {{ puzzle.solution }}
    </div>
{% endif %}

<h2>Metapuzzles</h2>

<table class="table">
{% for meta in puzzle_metas %}
    <tr>
        <td>
            <input type='checkbox' {% if meta.virtualColumns.IsInMeta %}checked{% endif %} name='puzinmeta_{{ meta.id }}' onclick='change_parent(this, {{ puzzle_id }}, {{ meta.id }})'>
        </td>
        <td>
            {{ meta.title }}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}

{% block aside %}
<p>
    <a name='puzurllink_{{ puzzle.id }}' href='{{ puzzle.url }}'>Puzzle URL</a>
    {# <input size=40 name='puzurl_{{ puzzle.id }}' value='{{ puzzle.url }}' onchange='new_link(this, {{ puzzle.id }})' > #}
    <br>
    <a name='puzsprlink_{{ puzzle.id }}' href='{{ puzzle.spreadsheetId }}'>Google Doc</a>
    {# <input size=40 name='puzspr_{{ puzzle.id }}' value='{{ puzzle.spreadsheet_id }}' onchange='new_sprd(this, {{ puzzle.id }})' > #}
</p>
<h4>Notes</h4>
<p>
</p>
{# <input size=40 name='puznts_{{ puzzle.id }}' onchange='upd_notes(this, {{ puzzle.id }})' value='{{ puzzle.notes }}' > #}

<hr>

<h4>Advanced options</h4>
Do not use unless you are sure.
<div>
    <button onclick='promote_puzzle( {{ puzzle_id }});'>Mark this puzzle as a metapuzzle.</button>
</div>
<div>
    <button onclick='delete_puzzle( {{ puzzle_id }});'>Delete this puzzle.</button>
</div>
<input type=checkbox id='areyousure' value='yes' >Are you sure?

{% endblock %}
