{% extends 'two-col.twig' %}

{% block content %}
    <div class="puzzle-header">
        <div class="puzzle-metas">
            {% for meta in all_metas if meta.virtualColumns.IsInMeta > 0 %}
                <a class="badge badge-pill badge-primary" href='/meta/{{ meta.parent.id }}'>{{ meta.parent.title }}</a>
            {% endfor %}
        </div>

        <h1>
            <a href="/puzzle/{{ puzzle.id }}">{{ puzzle.title }}</a>
            {{ puzzle.status | emojify }}
            {% block h1_small %}{% endblock %}
        </h1>
    </div>

    {% block content_forms %}
    <form class="puzzleEdit mb-1" action="/puzzle/{{ puzzle.id }}/solve" method="post">
        <div class="input-group mb-2">
            <span class="input-group-addon">Solution</span>
            <input type="text" class="solution-field form-control" name="solution" placeholder="Enter solution here" value="{{ puzzle.solution }}">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
            </span>
        </div>
    </form>
    <form class="puzzleEdit mb-5" action="/puzzle/{{ puzzle.id }}/change-status" method="post">
        <div class="input-group">
            <span class="input-group-addon">Status</span>
            <select id="statusSelect" class="form-control" name="status">
                {% for status in statuses %}
                    <option {% if status == puzzle.status %}selected{% endif %} value="{{ status }}">{{ status|emojify }} {{ status|capitalize }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
            </span>
        </div>
    </form>
    {% endblock %}

    {% block content_main %}{% endblock %}

    {% block content_notes %}
    {% if notes|length %}
        <div class="row">
            {% for note in notes %}
                <div class="col-sm-3">
                    {{ note.author.fullName }}<br>
                    <small class="text-muted">{{ note.createdAt|date("D g:i A") }}</small>
                </div>
                <div class="col-sm-9"><div class="bg-light border rounded p-3 mb-3">{{ note.body }}</div></div>
            {% endfor %}

            <div class="col-12">
                <hr>
            </div>
        </div>
    {% endif %}
        <div class="row">

            <div class="col-sm-3">
                Add a note
            </div>
            <div class="col-sm-9">
                <form action="/puzzle/{{ puzzle.id }}/add-note" method="post">
                    <textarea type="text" class="form-control" name="body" rows="2"></textarea>
                    <br>
                    <button class="btn btn-primary" type="submit">Submit new note</button>
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block aside %}
    {% block edit_button %}
    <div class="mb-3">
        <a class="btn btn-light border" href="/puzzle/{{ puzzle.id }}/edit">✏️  Edit this puzzle</a>
    </div>
    {% endblock %}

    <div class="puzzle-links list-group mb-3">
        <a class="list-group-item list-group-item-action" href='{{ puzzle.url }}'><img src="/img/mit.png" width="15px" alt=""> Puzzle page ➡</a>
        <a class="list-group-item list-group-item-action" href='{{ puzzle.spreadsheetId }}'><img src="/img/drive.png" width="15px" alt=""> Google Sheet ➡</a>
        <a class="list-group-item list-group-item-action" href='{{ puzzle.getSlackURL() }}'><img src="/img/slack.png" width="15px" alt=""> Slack ➡</a>
    </div>

    {% if puzzle.status == "featured" %}
        <div class="alert alert-info">This puzzle is the Featured Puzzle</div>
    {% endif %}

    <div class="card mb-3">
        <div class="card-body">
            <small class="solvers">SOLVERS</small>
            {% for member in members %}
                {{ member.fullName }}<br>
            {% else %}
                No one 😔
            {% endfor %}
        </div>
        <div class="card-footer">
            <form action="/puzzle/{{ puzzle.id }}/join" method="post">
                <button type="submit" class="join-this-puzzle btn btn-link">Join this puzzle</button>
            </form>
        </div>
    </div>

{% endblock %}
