{% extends 'loggedin.twig' %}
{% from 'macros.twig' import slack_url %}

{% block content %}
    <div class="puzzle-header">
        <div class="puzzle-metas">
            {% for meta in all_metas if meta.virtualColumns.IsInMeta > 0 %}
                <a class="badge badge-pill badge-primary" href='/meta/{{ meta.parent.id }}'>{{ meta.parent.title }}</a>
            {% endfor %}
        </div>

        <h1>
            <a href="/puzzle/{{ puzzle.id }}">{{ puzzle.title }}</a>
            {{ puzzle.status | emojify }}
            {% block h1_small %}{% endblock %}
        </h1>
    </div>

    {% block content_main %}

        <ul class="puzzle-nav nav nav-pills">
            <li class="nav-item">
                <a class="border rounded-0 nav-link" href='{{ puzzle.url }}'><img src="/img/mit.png" width="15px" alt=""> The puzzle ➡</a>
            </li>
            <li class="nav-item">
                <a class="border border-left-0 rounded-0 nav-link" href='{{ puzzle.spreadsheetId }}'><img src="/img/drive.png" width="15px" alt=""> Sheet ➡</a>
            </li>
            <li class="nav-item">
                <a class="border border-left-0 rounded-0 nav-link" href='{{ slack_url(puzzle.slackChannel) }}'><img src="/img/slack.png" width="15px" alt=""> Slack ➡</a>
            </li>
        </ul>

        {% if puzzle.status == "solved" %}
            <div class="alert alert-success">
                {{ puzzle.solution }}
            </div>
        {% endif %}

        {% if puzzle.status == "featured" %}
            <div class="alert alert-info">This puzzle is the Featured Puzzle</div>
        {% endif %}

    {% endblock %}

    {% block content_notes %}
        {% if notes|length %}
            <div class="row">
                {% for note in notes %}
                    <div class="col-sm-3">
                        {{ note.author.fullName }}<br>
                        <small class="text-muted">{{ note.createdAt|date("D g:i A") }}</small>
                    </div>
                    <div class="col-sm-9"><div class="border rounded p-3 mb-3">{{ note.body }}</div></div>
                {% endfor %}

                <div class="col-12">
                    <hr>
                </div>
            </div>
        {% endif %}
            <div class="row">

                <div class="col-sm-3">
                    Add a note
                </div>
                <div class="col-sm-9">
                    <form action="/puzzle/{{ puzzle.id }}/add-note" method="post">
                        <textarea type="text" class="form-control" name="body" rows="4"></textarea>
                        <br>
                        <button class="btn btn-primary" type="submit">Submit new note</button>
                    </form>
                </div>
            </div>
    {% endblock %}
{% endblock %}

{% block aside %}

    <div class="card mb-3">
        <div class="card-header">
          <small>Working on this puzzle</small>
        </div>
        <div class="card-body">
            {% for member in members %}
                {{ member.member.fullName }}<br>
            {% endfor %}
        </div>
    </div>

    <form action="/puzzle/{{ puzzle.id }}/claim" method="post">
        <button type="submit" class="btn btn-primary" href="/puzzle/{{ puzzle.id }}/claim">Join this puzzle</button>
    </form>
    <br>
    <a class="btn btn-primary" href="/puzzle/{{ puzzle.id }}/edit">Update this puzzle</a>
    <br><br>


{% endblock %}
