{% extends 'loggedin.twig' %}

{% block content %}

<h5 class="meta">Part of <a href="/?meta={{ puzzle.META_ID }}">{{ puzzle.META }}</a></h5>

<h1>
    {{ puzzle.PUZZLE_NAME }}
    <span class="badge badge-pill badge-secondary">{{ puzzle.STATUS | emojify }} {{ puzzle.STATUS }}</span>
</h1>

{% if puzzle.PUZSTT == "featured" %}
    <div class="alert alert-info">This puzzle is the Featured Puzzle</div>
{% endif %}
{% if puzzle.PUZSTT == "solved" %}
    <div class="alert alert-success">
        {{ puzzle.PUZANS }}
    </div>
{% endif %}


<h2>Metapuzzles</h2>

{% for meta in puzzle_metas %}
    <p>
        <input type='checkbox' {% if meta.INMETA > 0 %}checked{% endif %} name='puzinmeta_{{ meta.MID }}' onclick='change_parent(this, {{ puzzle_id }}, {{ meta.MID }})'>
        {{ meta.MTTL }}
    </p>
{% endfor %}
{% endblock %}

{% block aside %}
<p>
    <a name='puzurllink_{{ puzzle.PUZID }}' href='{{ puzzle.PURL }}'>Puzzle URL</a>
    {# <input size=40 name='puzurl_{{ puzzle.PUZID }}' value='{{ puzzle.PURL }}' onchange='new_link(this, {{ puzzle.PUZID }})' > #}
    <br>
    <a name='puzsprlink_{{ puzzle.PUZID }}' href='{{ puzzle.PUZSPR }}'>Google Doc</a>
    {# <input size=40 name='puzspr_{{ puzzle.PUZID }}' value='{{ puzzle.PUZSPR }}' onchange='new_sprd(this, {{ puzzle.PUZID }})' > #}
</p>
<h4>Notes</h4>
<p>
    {{ puzzle.PUZNTS }}
</p>
{# <input size=40 name='puznts_{{ puzzle.PUZID }}' onchange='upd_notes(this, {{ puzzle.PUZID }})' value='{{ puzzle.PUZNOT }}' > #}

<hr>

<h4>Advanced options</h4>
Do not use unless you are sure.
<div>
    <button onclick='promote_puzzle( {{ puzzle_id }});'>Mark this puzzle as a metapuzzle.</button>
</div>
<div>
    <button onclick='delete_puzzle( {{ puzzle_id }});'>Delete this puzzle.</button>
</div>
<input type=checkbox id='areyousure' value='yes' >Are you sure?

{% endblock %}
