{% extends 'two-col.twig' %}

{% block content %}
    <div class="puzzle-header">
        <div class="puzzle-metas">
            {% if i_am_meta %}
                <span class="badge badge-pill badge-secondary">META</span>
            {% endif %}
            {% for meta in puzzles_metas if meta.Id != puzzle.Id %}
                {% if loop.first %}
                <small>Part of</small>
                {% endif %}
                <a class="badge badge-pill badge-primary" href='/puzzle/{{ meta.Id }}'>{{ meta.Title }}</a>
            {% endfor %}
        </div>

        <h1>
            <a href="/puzzle/{{ puzzle.id }}">{{ puzzle.title }}</a>
            <i class="icon-{{ puzzle.status }}"></i>
        </h1>
    </div>

    {% block content_main %}
    <form class="puzzleEdit mb-1" data-behavior="confirm" action="/puzzle/{{ puzzle.id }}/solve" method="post">
        <div class="input-group mb-2">
            <span class="input-group-addon">Solution</span>
            <input type="text" class="solution-field form-control" name="solution" placeholder="Enter solution here" value="{{ puzzle.solution }}">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
            </span>
        </div>
    </form>
    <form class="puzzleEdit mb-4" action="/puzzle/{{ puzzle.id }}/change-status" method="post">
        <div class="input-group">
            <span class="input-group-addon">Status</span>
            <select id="statusSelect" class="form-control" name="status">
                {% for status in statuses %}
                    <option {% if status == puzzle.status %}selected{% endif %} value="{{ status }}">{{ status|capitalize }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
            </span>
        </div>
    </form>

    {% if i_am_meta %}
        {% from 'macros.twig' import puzzle_table %}
        {{ puzzle_table( puzzle.id ) }}
    {% endif %}

    {% if notes|length %}
        {% for note in notes %}
            <div class="row note-row">
                <div class="col-sm-3">
                    <small class="entry-by">{{ note.author.fullName }}</small>
                    <small class="entry-when">
                        {% set difference = date(now).diff(date(note.createdAt)) %}
                        {% if difference.days >= 2 %}
                            {{ difference.days }} days
                        {% else %}
                            {{ difference.format('%H:%I') }} ago
                        {% endif %}
                    </small>
                </div>
                <div class="col-sm-9 entry-body">
                    {{ note.body }}
                    <form action="/puzzle/{{ puzzle.id }}/delete-note/{{ note.id }}" class="delete-note" method="post">
                        <button type="submit" class="close">
                            <span>&times;</span>
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}
        <form class="new-note-form" action="/puzzle/{{ puzzle.id }}/add-note" method="post">
        <div class="row">
            <div class="col-sm-3">
                <small>Add a note:</small>
            </div>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" name="body" rows="2"></textarea>
                <br>
                <button class="btn btn-primary" type="submit">Submit new note</button>
            </div>
        </div>
        </form>
    {% endblock %}
{% endblock %}

{% block aside %}
    <div class="puzzle-links list-group mb-3">
        <a class="list-group-item list-group-item-action" href='{{ puzzle.url }}'><img src="/img/mit.png" width="15px" alt=""> Puzzle page</a>
        <a class="list-group-item list-group-item-action" href='{{ puzzle.getSpreadsheetURL() }}'><img src="/img/drive.png" width="15px" alt=""> Google Sheet</a>
        <a class="list-group-item list-group-item-action" href='{{ puzzle.getSlackURL() }}'><img src="/img/slack.png" width="15px" alt=""> Slack</a>
    </div>

    {% if puzzle.status != "solved" %}
    <div class="card mb-3">
        <div class="card-body">
            <small class="subhead">SOLVERS</small>
            {% for member in members %}
                <a style="background-image:url({{ member.avatar }});" href="http://{{ slackDomain }}.slack.com/team/{{ SlackId }}" class="avatar"></a>
                {{ member.fullName }}<br>
            {% else %}
                No one 😔
            {% endfor %}
        </div>
        <div class="card-footer">
            {% if not is_member %}
            <form action="/puzzle/{{ puzzle.id }}/join" method="post">
                <button type="submit" class="join-this-puzzle btn btn-link">Join this puzzle</button>
            </form>
            {% else %}
            <form action="/puzzle/{{ puzzle.id }}/leave" method="post">
                <button type="submit" class="join-this-puzzle btn btn-link">Leave this puzzle</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="mb-3">
        <a class="btn btn-dark border border-dark" href="/puzzle/{{ puzzle.id }}/edit">✏️  &nbsp; Edit this puzzle</a>
    </div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    {% if i_am_meta %}
        loadPuzzleData('/puzzles/meta/{{ puzzle.id }}');
    {% endif %}

    {% if puzzle.solution %}
    $('[data-behavior=confirm]').submit(function(e) {
        var previousSolution = "{{ puzzle.solution }}";
        var newSolution = $('.solution-field').val();
        if (previousSolution != newSolution) {
            if(!confirm('You sure you want to change this solution from ' + previousSolution + ' to ' + newSolution + '?')) {
                e.preventDefault();
            }
        }
        return true;
    });
    {% endif %}
});
</script>
{% block more_scripts %}{% endblock %}
{% endblock %}
