{% extends 'one-col.twig' %}

{% block title %}{{ puzzle.title }}{% endblock %}

{% block filters %}
    {% from 'macros.twig' import solver %}
    <div class="nav-section">
        {% for meta in puzzles_metas %}
            {% if meta.Wrangler %}
            {{ solver(meta.Wrangler) }}
            {% endif %}
        {% else %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="puzzle-header">
        <h1>
            <a href="/puzzle/{{ puzzle.id }}">{{ puzzle.title }}</a>
            <i class="icon-{{ puzzle.status }}"></i>
        </h1>

        {% if puzzle.sheetModDate %}
        <div class="last-update">
            Last edited
            <b>{{ puzzle.sheetModDate|time_diff }}</b>
        </div>
        {% endif %}

        <div class="puzzle-metas small">
            {% if is_meta %}
                <span class="badge badge-pill badge-secondary">META</span>
            {% endif %}
            {% for meta in puzzles_metas if meta.Id != puzzle.Id %}
                {% if loop.first %}
                Part of
                {% endif %}
                <span class="meta-wrapper">
                <a class="" href='/puzzle/{{ meta.Id }}'>{{ meta.Title }}</a>
                </span>
            {% endfor %}
        </div>

        <ul class="nav nav-fill puzzle-links mb-3">
            <li class="nav-item"><a class="nav-link link-puzzle" target="_blank" href='{{ puzzle.url }}'>Puzzle</a></li>
            <li class="nav-item"><a class="nav-link link-drive" target="_blank" href='{{ puzzle.getSpreadsheetURL() }}'>Sheet</a></li>
            <li class="nav-item"><a class="nav-link link-slack" target="_blank" href='{{ puzzle.getSlackURL() }}'>Slack</a></li>
        </ul>
    </div>

    {% block content_main %}

    <form data-behavior="confirm" action="/puzzle/{{ puzzle.id }}/edit" method="post">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="title">Title</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="title" value="{{ puzzle.title }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="solution">Solution</label>
            <div class="col-sm-9">
                <input type="text" class="form-control solution-field" name="solution" value="{{ puzzle.solution }}">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-legend col-sm-3">Status</legend>
                <div class="col-sm-9">
                    {% for status in statuses if (status != "solved" or puzzle.solution != "") %}
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="status" id="status-{{ status }}" {% if status == puzzle.status %}checked{% endif %} value="{{ status }}">
                        {{ status|capitalize }}
                        <i class="icon-{{ status }}"></i>
                      </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-legend col-sm-3">Parent meta(s)</legend>
                <div class="col-sm-9">
                    {% for meta in metas_to_show %}
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type='checkbox' id="meta{{meta.id}}" {% if meta.virtualColumns.IsInMeta %}checked{% endif %} name='metas[]' value="{{ meta.parent.id }}">
                        {{ meta.parent.title }}
                      </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-legend col-sm-3">Meta?</legend>
                <div class="col-sm-9">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="is_meta" {{ is_meta|yesno('checked') }} value="y">
                    This is a meta!
                  </label>
                </div>
            </div>
        </fieldset>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="">Spreadsheet ID</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="spreadsheet_id" value="{{ puzzle.spreadsheetId }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="">Slack channel ID</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="slack_channel_id" value="{{ puzzle.slackChannelID }}">
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <button class="btn btn-dark">Submit changes</button>
            </div>
        </div>
    </form>

    <div class="buttons">
        <form action="/puzzle/{{ puzzle.id }}/delete" data-behavior="confirm-delete" method="post">
            <button type="submit" class="btn border border-danger text-danger" href=""><i class="icon-archive"></i> Archive puzzle</button>
        </form>
    </div>

    {% if is_meta %}
        {% from 'macros.twig' import puzzle_table %}
        {{ puzzle_table( puzzle.id ) }}
    {% endif %}
    {% endblock %}

{% endblock %}


{% block scripts %}
<script>
$(function() {
    {% if is_meta %}
        loadPuzzleData('/puzzles/meta/{{ puzzle.id }}');
    {% endif %}

    {% if puzzle.solution %}
    $('[data-behavior=confirm]').submit(function(e) {
        var previousSolution = "{{ puzzle.solution }}";
        var newSolution = $('.solution-field').val();
        if (previousSolution != newSolution) {
            if(!confirm('You sure you want to change this solution from ' + previousSolution + ' to ' + newSolution + '?')) {
                e.preventDefault();
            }
        }
        return true;
    });
    {% endif %}
});
</script>

<script>
$(function() {
    $('[data-behavior=confirm-delete]').submit(function(e) {
        if(!confirm('You sure you want to archive this puzzle and make it disappear from the site?')) {
            e.preventDefault();
        }
        return true;
    });
});
</script>
{% endblock %}
