{% extends 'loggedin.twig' %}
{% from 'macros.twig' import slack_url %}

{% block content %}

<h1>
    {{ puzzle.title }}
    {{ puzzle.status | emojify }}
</h1>

{% if puzzle.status == "featured" %}
    <div class="alert alert-info">This puzzle is the Featured Puzzle</div>
{% endif %}

{% if puzzle.status == "solved" %}
    <div class="alert alert-success">
        {{ puzzle.solution }}
    </div>
{% endif %}

<h2>Notes</h2>

{# FOR EDITING #}
{# <table class="table">
{% for meta in puzzle_metas %}
    <tr>
        <td>
            <input type='checkbox' id="meta{{meta.id}}" {% if meta.virtualColumns.IsInMeta %}checked{% endif %} name='puzinmeta_{{ meta.id }}' onclick='change_parent(this, {{ puzzle_id }}, {{ meta.id }})'>
        </td>
        <td>
            <label for="meta{{meta.id}}">{{ meta.title }}</label>
        </td>
    </tr>
{% endfor %}
</table> #}
{% endblock %}

{% block aside %}
<ul>
    <li><a href='{{ puzzle.url }}'>Puzzle page</a></li>
    <li><a href='{{ puzzle.spreadsheetId }}'>Google Sheet</a></li>
    <li><a href='{{ slack_url(puzzle.slack) }}'>Slack</a></li>
</ul>
<strong>Part of:</strong>
<ul>
    {% for meta in puzzles_metas %}
        <li><a href='/meta/{{ meta.parent.id }}'>{{ meta.parent.title }}</a></li>
    {% endfor %}
</ul>
{# <input size=40 name='puznts_{{ puzzle.id }}' onchange='upd_notes(this, {{ puzzle.id }})' value='{{ puzzle.notes }}' > #}

{# FOR EDITING #}
{# <h4>Advanced options</h4>
Do not use unless you are sure.
<div>
    <button onclick='promote_puzzle( {{ puzzle_id }});'>Mark this puzzle as a metapuzzle.</button>
</div>
<div>
    <button onclick='delete_puzzle( {{ puzzle_id }});'>Delete this puzzle.</button>
</div>
<input type=checkbox id='areyousure' value='yes' >Are you sure?
 #}
{% endblock %}
