{% extends 'two-col.twig' %}

{% block filters %}
    {% from 'macros.twig' import solver %}
    <div class="nav-section">
        <h4>Wrangler</h4>
        {% for meta in puzzles_metas %}
            {% if meta.Wrangler %}
            {{ solver(meta.Wrangler) }}
            {% endif %}
        {% else %}
        {% endfor %}
    </div>

    {% if puzzle.status != "solved" %}
    <div class="nav-section">
        <h4>Solvers</h4>

        {% for member in members %}
            {{ solver(member) }}
        {% else %}
            No one :(
        {% endfor %}
    </div>

    <div class="nav-section">
        {% if not is_member %}
        <form class="join-leave" action="/puzzle/{{ puzzle.id }}/join" method="post">
            <button type="submit" class="btn btn-dark">Help solve this</button>
        </form>
        {% else %}
        <form class="join-leave" action="/puzzle/{{ puzzle.id }}/leave" method="post">
            <button type="submit" class="btn btn-dark">Leave this</button>
        </form>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="puzzle-header">
        <h1 class="mb-3">
            <a href="/puzzle/{{ puzzle.id }}">{{ puzzle.title }}</a>
            <i class="icon-{{ puzzle.status }}"></i>
        </h1>

        <div class="puzzle-metas small">
            {% if is_meta %}
                <span class="badge badge-pill badge-secondary">META</span>
            {% endif %}
            {% for meta in puzzles_metas if meta.Id != puzzle.Id %}
                {% if loop.first %}
                Part of
                {% endif %}
                <span class="meta-wrapper">
                <a class="" href='/puzzle/{{ meta.Id }}'>{{ meta.Title }}</a>
                </span>
            {% endfor %}
        </div>

        <ul class="nav nav-fill puzzle-links mb-3">
            <li class="nav-item"><a class="nav-link link-puzzle" target="_blank" href='{{ puzzle.url }}'>Puzzle</a></li>
            <li class="nav-item"><a class="nav-link link-drive" target="_blank" href='{{ puzzle.getSpreadsheetURL() }}'>Sheet</a></li>
            <li class="nav-item"><a class="nav-link link-slack" target="_blank" href='{{ puzzle.getSlackURL() }}'>Slack</a></li>
        </ul>
    </div>

    {% block content_main %}
    <form class="puzzleEdit mb-1" data-behavior="confirm" action="/puzzle/{{ puzzle.id }}/solve" method="post">
        <div class="input-group mb-2">
            <span class="input-group-addon">Solution</span>
            <input type="text" class="solution-field form-control" name="solution" placeholder="Enter solution here" value="{{ puzzle.solution }}">
            <span class="input-group-btn">
                <button class="btn btn-dark" type="submit">Go</button>
            </span>
        </div>
    </form>
    <form class="puzzleEdit mb-4" action="/puzzle/{{ puzzle.id }}/change-status" method="post">
        <div class="input-group">
            <span class="input-group-addon">Status</span>
            <select id="statusSelect" class="form-control" name="status">
                {% for status in statuses if (status != "solved" or puzzle.solution != "") %}
                    <option {% if status == puzzle.status %}selected{% endif %} value="{{ status }}">{{ status|capitalize }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <button class="btn btn-dark" type="submit">Go</button>
            </span>
        </div>
    </form>

    {% if is_meta %}
        {% from 'macros.twig' import puzzle_table %}
        {{ puzzle_table( puzzle.id ) }}
    {% endif %}

    <form class="new-note-form" action="/puzzle/{{ puzzle.id }}/add-note" method="post">
        <div class="row">
            <div class="col-sm-3">
                <small>Add a note:</small>
            </div>
            <div class="col-sm-6">
                <textarea type="text" class="form-control" name="body" rows="2"></textarea>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-dark" type="submit">Post note</button>
            </div>
        </div>
    </form>

    {% if notes|length %}
        <div class="notes">
        {% for note in notes %}
            <div class="row note-row">
                <div class="col-sm-3">
                    <small class="entry-by">{{ note.author.fullName }}</small>
                    <small class="entry-when">
                        {% set difference = date(now).diff(date(note.createdAt)) %}
                        {% if difference.days >= 2 %}
                            {{ difference.days }} days
                        {% else %}
                            {{ difference.format('%H:%I') }} ago
                        {% endif %}
                    </small>
                </div>
                <div class="col-sm-9 entry-body">
                    {{ note.body }}
                    <form action="/puzzle/{{ puzzle.id }}/delete-note/{{ note.id }}" class="delete-note" method="post">
                        <button type="submit" class="close">
                            <span>&times;</span>
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endblock %}
{% endblock %}

{% block aside %}
    <section class="tag-lists {% if not tag_alerts|length %}show-all{% endif %}">
    {% for scope_name, scope_tags in scopes %}
    <h5 class="scope-header"><i class="icon-tags"></i> {{ scope_name }}</h5>
    <div class="tag-list mb-3">
        {% for tag in scope_tags if tag.level > 0 %}
            <a data-id="{{ tag.id }}" class="tag {% if tag.id in tag_alerts %}alerted{% endif %} level{{ tag.level }}" href='#' title="{{ tag.description }}">{{ tag.title }}</a>
        {% endfor %}
    </div>
    {% endfor %}
    {% if tag_alerts|length %}
    <div class="buttons">
        <a class="btn btn-light show-all-tags" href="/puzzle/{{ puzzle.id }}/edit">Show all <i class="icon-tags"></i> tags</a>
    </div>
    {% endif %}
    </section>

    {% block edit_button %}
    <div class="buttons">
        <a class="btn btn-light border border-dark" href="/puzzle/{{ puzzle.id }}/edit"><i class="icon-edit"></i> Edit this puzzle</a>
    </div>
    {% endblock %}
{% endblock %}

{% block latest_news %}{% endblock %}

{% block scripts %}
<script>
$(function() {
    $('.tag-list a').tooltip();

    $('.tag-list a').click(function(e) {
        e.preventDefault();

        var link = $(this);
        var data = {
            'tag_id': $(this).data('id'),
            'alerted': link.hasClass('alerted')
        };

        $.post('/tags/alert/{{ puzzle.id }}', data, function(response) {
            if (response['ok']) {
                link.toggleClass('alerted');
            }
        });
    });

    $('.show-all-tags').click(function(e) {
        e.preventDefault();
        $('.tag-lists').toggleClass('show-all');
    });

    {% if is_meta %}
        loadPuzzleData('/puzzles/meta/{{ puzzle.id }}');
    {% endif %}

    {% if puzzle.solution %}
    $('[data-behavior=confirm]').submit(function(e) {
        var previousSolution = "{{ puzzle.solution }}";
        var newSolution = $('.solution-field').val();
        if (previousSolution != newSolution) {
            if(!confirm('You sure you want to change this solution from ' + previousSolution + ' to ' + newSolution + '?')) {
                e.preventDefault();
            }
        }
        return true;
    });
    {% endif %}
});
</script>
{% block more_scripts %}{% endblock %}
{% endblock %}
